.dirstamp
/.devcontainer
/.github
/.vscode
/Build
/Build.bat
/ChangeLog
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.in
/bin/chkstow
/bin/stow
/doc/stow.info
/doc/version.texi
/tmp-testing-trees/
/_build/
/.build/
/_test/
/autom4te.cache/
/blib/
_Inline/
config.log
config.status
configure
configure~
/cover_db/
/doc/ChangeLog.OLD
/doc/manual.pdf
/doc/manual-single.html
/doc/manual-single-old-texi2html.html
/doc/manual-single-texi2html-wrapper.html
/doc/manual-split/
/doc/manual.texi
/doc/stow.pdf
/doc/stow.8
/doc/stow.toc
/doc/stow.aux
/doc/stow.cp
/lib/*.pm
/lib/Stow/*.pm
/lib/Stow/Util/*.pm
stamp-vti
stow-[0-9].[0-9].[0-9].tar.*
stow-[0-9].[0-9].[0-9]/
Stow-v[0-9].[0-9].[0-9].tar.*
*.komodoproject
*.html
*.log
test_results*.xml
