.dirstamp
Build
Build.bat
ChangeLog
MYMETA.json
MYMETA.yml
Makefile
Makefile.in

bin/chkstow
bin/stow

config.log
config.status
configure
configure~
configure.lineno

doc/stow.info
doc/version.texi
doc/ChangeLog.OLD
doc/manual.texi
doc/manual*.pdf
doc/manual*.dvi
doc/manual-single.html
doc/manual-single-old-texi2html.html
doc/manual-single-texi2html-wrapper.html
doc/stow.dvi
doc/stow.pdf
doc/stow.8
doc/stow.toc
doc/stow.aux
doc/stow.cp
doc/stow.cps

# Ignore all intermediate documentation files
manual-split/
manual.t2d/
stow.t2d/
stow.t2p/

lib/*.pm
lib/Stow/*.pm
lib/Stow/Util/*.pm

tmp-testing-trees/
_build/
.build/
.tmp/
_test/
autom4te.cache/
blib/
_Inline/
cover_db/

stamp-vti
stow-[0-9].tar.*
stow-[0-9].[0-9].[0-9].tar.*
stow-[0-9].[0-9].[0-9]/
Stow-v[0-9].[0-9].[0-9].tar.*
Stow-v[0-9].[0-9].[0-9]/

*.komodoproject
*.html
*.log
*.bak
*.tmp
test_results*.xml
nul
.bash_history
.gnupg/
ldeps/
confdefs.h
conftest.tar
.env

# Intermediate file from running 'cover'
test
