name: 'Nightly'

on:
  # Run at 2 AM UTC every day
  schedule:
    - cron: '0 2 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docker_build:
    name: Docker Perl Tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker build image
        working-directory: ${{ github.workspace }}
        run: |
          bash ./docker/docker-build.sh

      - name: Docker test
        working-directory: ${{ github.workspace }}
        run: |
          bash ./docker/docker-test.sh
