#
# Input configuration file for Readline settings and key bindings.
#
# Useful references:
#
#   - https://github.com/bluz71/dotfiles/blob/master/inputrc
#

# Some common Readline config settings.

set colored-stats                 on   # Turn on completion colors.
set colored-completion-prefix     on   # Color the typed completion prefix.

# Some config settings that only work in Clink.

$if clink
set search-ignore-case            on   # Case insensitive history searches.
set completion-auto-query-items   on   # Prompt before showing completions if they'll exceed half the screen.
$endif

#
# Add your keybindings here...
#

# key bindings for fzf with Clink
"\C-t":        "luafunc:fzf_file"       # Ctrl+T lists files recursively; choose one or multiple to insert them.
"\C-r":        "luafunc:fzf_history"    # Ctrl+R lists history entries; choose one to insert it.
"\M-c":        "luafunc:fzf_directory"  # Alt+C lists subdirectories; choose one to 'cd /d' to it.
"\M-b":        "luafunc:fzf_bindings"   # Alt+B lists key bindings; choose one to invoke it.
"\t":          "luafunc:fzf_complete"   # Tab uses fzf to filter match completions.
"\e[27;5;32~": "luafunc:fzf_complete"   # Ctrl+Space uses fzf to filter match completions.

# Tab: accept the suggestion via End.
"\t":           "\e[1;5C"
# Ctrl-Enter: accept and execute the suggestion via End, Enter.
"\e[27;5;13~":  "\e[F\r"
