# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4

[*.{json,cjson}]
indent_style = space
indent_size = 4

[*.{md,markdown}]
indent_style = space
indent_size = 2

[*.{bat,cmd,ps1,psd1}]
indent_style = space
indent_size = 4

[.{profile,bashrc,bash_aliases,bash_profile,tmux.conf,zshrc}]
indent_style = space
indent_size = 4
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = true
function_next_line = true
end_of_line = lf

[*.{sh,bash,bats,conf,fish}]
indent_style = space
indent_size = 4
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = true
function_next_line = true
end_of_line = lf
