# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jonathan Van Eenwyk
	email = jvaneenwyk@tendrilinc.com
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = pull --rebase
	df = diff
[pull]
	rebase = true
[commit]
	verbose = true
[core]
   excludesfile = /Users/jdve/.gitignore
