# This is Git's per-user configuration file.
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = pull --rebase
	df = diff
[pull]
	rebase = true
[commit]
	verbose = true
[core]
	excludesfile = /Users/jdve/.gitignore_global
